<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ice.lib.crash">

    <application>
        <activity
            android:name=".CrashActivity"
            android:process=":crash_activity"/>
        <provider
            android:exported="false"
            android:authorities="ice.crash.provider"
            android:name=".CrashProvider"
            android:initOrder="233"/>
    </application>

</manifest>